/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: rgb(163, 40, 168);
  color: white;
  padding: 1em 0;
  text-align: center;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin-left: 1em;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 1em 0;
  background-color: #f1f1f1;
}

main .container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 0 1em;
}

article {
  flex: 3;
  padding: 1em;
  background-color: rgb(162, 225, 236);
  margin-right: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 28px;
}

aside {
  flex: 1;
  padding: 1em;
  background-color: #e9a6a6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}
.heading {
  font-weight: bolder;
  font-size: 26px;
  font-family: "Times New Roman", Times, serif;
}
